<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286570350752-cgjnskvjfhdf3uobcjk2jfutjemeps43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286570350752-cgjnskvjfhdf3uobcjk2jfutjemeps43</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286570350752-bq6tdbt0alr0c5t69r7lkv079vb9iess.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCC328vryFUxOhbZ6aXMXAfHUcRii5xp2A</string>
	<key>GCM_SENDER_ID</key>
	<string>286570350752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tinyhealer</string>
	<key>PROJECT_ID</key>
	<string>tinyhealer-30c94</string>
	<key>STORAGE_BUCKET</key>
	<string>tinyhealer-30c94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286570350752:ios:d8eb2e1f0f52d167b621c5</string>
</dict>
</plist>